:root {
    --layers-panel-background: #fff;
    --layers-panel-item-background: #fff;
    --layers-panel-btn-background: #fff;
    --layers-panel-btn-background-svg: #000;
    --text-color: #000;
}

.layers-panel {
    display: block;
    position: absolute;
    top: auto;
    right: 0;
    width: 320px;
    margin-top: 5px;
    background-color: var(--layers-panel-background);
    padding: 10px;
    overflow: auto;
    max-height: 60vh;
    border-radius: 10px;
    color: var(--text-color);
    font: bold 18px/1.2 sans-serif;
}

.layers-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layers-panel-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    vertical-align: middle;
    background-color: var(--layers-panel-btn-background);
    border-radius: 14%;
    border: none;
    cursor: pointer;
}

.layers-panel-btn:hover {
    background-color: #eee;
}

.layers-panel-btn svg {
    width: 20px;
    height: 20px;
    fill: var(--layers-panel-btn-background-svg)
}

.layers-panel-dataSource-sector,
.layers-panel-imageryLayer-sector,
.layers-panel-entities-sector,
.layers-panel-item {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    font: bold 16px/1.2 sans-serif;
}

.layers-panel-item {
    font-size: 12px;
    margin-top: 5px;
    user-select: none;
    background-color: var(--layers-panel-item-background);
}

.layers-panel-item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    overflow: hidden;
}

.layers-panel-item-buttons {
    display: flex;
    margin-left: auto;
}

.layers-panel-item-btn,
.layer-panel-header-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}

.layers-panel-item-btn svg,
.layer-panel-header-btn svg {
    fill: var(--layers-panel-btn-background-svg);
}

.layers-panel-item-btn:hover,
.layer-panel-header-btn:hover {
    transform: scale(1.1);
}