.layers-panel {
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: auto;
    right: 0;
    width: 320px;
    margin-top: 5px;
    background-color: #fff;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;

    transition: opacity 0.5s ease-in-out;
}

.layers-panel-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 14%;
    border: 1px solid #fff;
}

.layers-panel-btn:hover {
    background-color: #eee;
    border: 1px solid #eee;
}

.layers-panel-btn svg {
    width: 20px;
    height: 20px;
    fill: #000;
}

.layers-panel-btn:hover svg {
    width: 20px;
    height: 20px;
    fill: #000;
}

.layers-panel-datasource-sector {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.layers-panel-item {
    display: block;
    margin-top: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;

    user-select: none;
}

.layers-panel-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layers-panel-item-btn {
    background-color: transparent;
    border: none;
}