{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="{% static 'libs/Cesium/Build/Cesium/Cesium.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/Cesium/Build/Cesium/Widgets/widgets.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/cesium_map.css' %}"/>

    <div id="loadingIndicator" class="clock-loader"></div>
    <div id="map">
        <div id="cesiumContainer"></div>
    </div>

    <script src="{% static 'js/load_providers.js' %}"></script>
    <script src="{% static 'js/load_viewer.js' %}"></script>
    <script src="{% static 'js/load_geometry.js' %}"></script>
    <script src="{% static 'js/load_styles.js' %}"></script>

    <script src="{% static 'js/setup_map.js' %}"></script>

</body>
</html>